extends ../layout
block content
    include ../header
    .main-container(ng-controller="AppCtrl")
        .search-results
            md-grid-list(md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="30px" md-gutter-gt-sm="15px")
                for l in tagged_list
                    md-grid-tile.list-item(md-rowspan="1" md-colspan="2" md-colspan-sm="1")
                        span Name:
                            h3= l.name
                        br
                        span Location:
                            h4= l.location
