.search-buttons
   div.search-sentance(layout="row")
      span.search-text Show me
      div(ng-repeat="d in curr_dates_buttons")
         md-input-container(flex)
            label
               | {{d.name}}
            input(type="date" ng-model="date.currentDate" ng-change="dateChanged()")
            span(ng-click="removeTag(d)")
                i.fa.fa-times
      div.used_buttons(ng-repeat="sg in curr_buttons track by $index")
         md-input-container
            md-select(placeholder="{{sg.name}}" ng-model="userStat[$index]")
               span(ng-click="removeTag(sg)")
                   i.fa.fa-times
               md-option(ng-repeat="st in sg.list" value="{{st}}" ng-click="paramUpdate(sg.name, st)")
                  | {{st}}
      //div.search-clear(layout="row" ng-if="curr_buttons.length > 0 || curr_dates_buttons.length > 0")
      //   span(ng-click="clearTags()")
      //      span Clear
      //      i.fa.fa-remove


   div.search-unused(layout="row")
      section(layout="row" layout-sm="column" layout-align="center center")
         md-button.md-raised.unused-button(ng-repeat="u_btn in unused_buttons track by $index" ng-click="addToSearch(u_btn)")
            | {{u_btn.name}}
            i.fa.fa-plus

