doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/lib/angular-material/angular-material.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome-animation.css')
    script(src='/lib/jquery/jquery-2.1.4.min.js')
    script(src="/lib/angular/angular.js")
    script(src="/lib/angular-animate/angular-animate.js")
    script(src="/lib/angular-aria/angular-aria.js")
    script(src="/lib/angular-material/angular-material.js")
    script(src="/lib/angular-resource/angular-resource.js")
    script(src='/javascripts/packery.pkgd.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers/item.js')
    script(src='/javascripts/controllers/explore.js')
    script(src='/javascripts/factories/item.js')

  body(ng-app="jawa")
    include ./header
    block content
